.link {
	font-weight: bold;
	font-size: 32px;
	text-decoration: none;
	color: rgba(104,75,255,.89) !important;

}
.link1 a,
.link a {
	text-decoration: none;
}
.link1 {
	font-weight: bold;
	font-size: 16px;
	color: rgba(104,75,255,.89) !important;

	text-align: right;
	padding: 0;
	margin: 0;
}
